@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  padding: 0;
  border: 0;
  margin: 0;
  vertical-align: top;
  font: inherit;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1351px;
  width: 79%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
header {
  background: linear-gradient(rgba(0,60,132,.3), rgba(0,60,132,.3)), url(../img/Group.jpg) center/cover no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,60,132,.3)), to(rgba(0,60,132,.3))), url(../img/Group.jpg) center/cover no-repeat;
  background: -o-linear-gradient(rgba(0,60,132,.3), rgba(0,60,132,.3)), url(../img/Group.jpg) center/cover no-repeat;
}

header .wrapper { width: 75%; }

h1,form { display: inline-block; } 
form { width: calc(70% - 4px); }
.formgroup { float: right; }
.formgroup input:focus{ outline: none; }

h1 {
  width: calc(30% - 4px); 
  padding-top: 8px;
 }

.formgroup  {
  border: 1px solid #7c9fd4;
  border-radius: 5px;
  margin-top: 40px;
}

.formgroup a {
  padding: 9px 12px 8px; 
  text-indent: -9999px;
 }

.formgroup a::before {
  content:"\f002";
  float: right;
  color: #fff;
  font-family: "Font Awesome 5 Free";
  font-size: 15px;
  font-weight: 900;
  text-indent: 0;
}

.formgroup input {
  padding: 11px 20px 11px 12px;
  border: transparent;
  background-color: transparent;
  color: #cfe4f9;
  text-transform: capitalize;
}

.hambur { 
  display: none;
  cursor: pointer;
}

.hambur span {
  width: 25px;
  height: 3px;
  display: block;
  position: absolute;
  background-color: brown;
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  text-indent: -9999px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.hambur span:nth-child(1) { top: 0px; }
.hambur span:nth-child(2) { top: 8px; }
.hambur span:nth-child(3) { top: 16px; }

nav {
  padding: 7.5px 0;
  border-bottom: 1px solid #fff;
  margin-top: 4px; 
  background-color: rgba(0,0,0, .5);
}

.menu {
  float: right;
}

.menu a {
  padding-top: 2px;
  color: #fcfdff;
  font-size: 11px;
  font-weight: bold;
  -webkit-transition:  color .5s ease;
  -moz-transition:  color .5s ease;
  -ms-transition:  color .5s ease;
  -o-transition:  color .5s ease;
  transition:  color .5s ease;
  text-transform: uppercase;
}

.menu a:hover { color: #7c9fd4; }
.menu li:first-child a { text-indent: -9999px; }

.menu li:first-child a::before {
  content:"\f015";
  float: right;
  color: #fff;
  font-family: "Font Awesome 5 Free";
  font-size: 20px;
  font-weight: 900;
  -webkit-transition: color .5s ease;
  -moz-transition: color .5s ease;
  -ms-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease;
  text-indent: 0;
}

.menu li:first-child a:hover::before { color: #7c9fd4; }

.menu li {
  padding: 0 4px 0 7px;
  border-left: 1.5px solid #fcfdff;
  margin-top: 5px;
}

.menu li:first-child {
  border: transparent;
  margin: 0;
}

/*=================================
  Header styling ends here
=================================*/  
/*=================================
  main styling starts here
=================================*/
/* banner styling starts */
.banner {
  margin-bottom: 37px;
  background: linear-gradient(rgba(0,60,132,.3), rgba(0,60,132,.3)), url(../img/Ocean_2018_Mexico_1700x300.jpg) center/cover no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,60,132,.3)), to(rgba(0,60,132,.3))), url(../img/Ocean_2018_Mexico_1700x300.jpg) center/cover no-repeat;
  background: -o-linear-gradient(rgba(0,60,132,.3), rgba(0,60,132,.3)), url(../img/Ocean_2018_Mexico_1700x300.jpg) center/cover no-repeat;  
}

h2 {
  padding: 86px 0 20px;
  color: #fff;
  font-family: serif;
  font-size: 38px;
  letter-spacing: 3.5px;
  text-transform: capitalize;
  word-spacing: 2px;
}

.banner p {
  padding-bottom: 15px;
  color: #cdd5f9;
  font-size: 12px;
  letter-spacing: 2px;
}

.banner p span {
  padding-right: 14px;
  border-right: 1px solid #acacc8;
  margin-right: 14px;
}

.banner a {
  padding: 5px 25px 10px;
  margin-bottom: 80px;
  background-color: #fff;
  color: #7c9fd4;
  font-size: 10px;
  font-weight: bolder;
  -webkit-transition: opacity .5s ease;
  -moz-transition: opacity .5s ease;
  -ms-transition: opacity .5s ease;
  -o-transition: opacity .5s ease;
  transition: opacity .5s ease;
  text-transform: uppercase;
}

.banner a:hover { opacity: 0.5;}

.banner a::after {
  content: "\f061";
  padding-left: 122px ;
  color: #7c9fd4;
  font-family: "Font Awesome 5 Free";
  font-size: 20px;
  font-weight: 900;
  -webkit-transition: opacity .5s ease;
  -moz-transition: opacity .5s ease;
  -ms-transition: opacity .5s ease;
  -o-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

.banner a + span {
  padding: 10px 0 0 58px;
  display: inline-block;
  color: #fff;
  font-size: 13px;
  font-weight: bolder;
  text-transform: uppercase;
}

/* banner styling ends */
/* content styling stars */
/* side-nav-links styling ends */
.main-content,
.side-nav-links { display: inline-block; }
.side-nav-links { width: calc( 25% - 4px); }
.main-content { 
  width: calc(66% - 4px); 
  margin-left: 9%;
}

.side-nav-links li { 
  margin-bottom: 24px; 
  display: block;
}

.side-nav-links li a {
  border-bottom: 2px solid #7892a3;
  color: #7892a3;  
  font-size: 15px;
  -webkit-transition: color .5s ease;
  -moz-transition: color .5s ease;
  -ms-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease;
}

.side-nav-links a:hover { color: #18396b; }
.social { padding-top: 13px; }

.social li {
  padding: 0 20px 0 15px;
  margin-bottom: 5px ;
  display: inline-block;
  text-indent: -9999px;
}

.social li::before {
  float: right;
  font-family: "Font Awesome 5 Brands";
  font-size: 20px;
  font-weight: 100;
  -webkit-transition: color .5s ease;
  -moz-transition: color .5s ease;
  -ms-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease;
  text-indent: 0;
}

.social li:nth-child(1)::before{
  content: "\f39e";
  color: #3a5796;
}

.social li:nth-child(2)::before{
  content: "\f099";
  color: #53adef;
}

.social li:nth-child(3)::before{
  content: "\f167";
  color: #fb0101;
}

.social li:nth-child(4)::before{
  content: "\f0e1";
  color: #0279ae;
}

.side-nav-links p {
  padding-bottom: 20px;
  color: #3a3e41;
  font-family: serif;
  font-size: 18px;
  font-weight: bolder;
  letter-spacing: 1px;
  word-spacing: 2px;
}

.side-nav-links p::before {
  content: "";
  width: 32px;
  height: 5px;
  margin: 34px 0 27px;
  display: block;
  background: #537893;
}

/* side-nav-links styling ends */
/* main content styling starts */
h3 {
  padding-bottom: 20px;
  color: #383d41;
  font-family: serif;
  font-size: 30px;
  letter-spacing: 1px;
  text-transform: capitalize;
}

h3::before {
  content: "";
  width: 32px;
  height: 5px;
  margin-bottom: 11px;
  display: block;
  background: #537893;
} 

.overview p {
  color: #3b3c3e;
  font-size: 14px;
  line-height: 21px;
  word-spacing: 2px;
}

.overview h4 {
  padding: 25px 0 12px 24px;
  border-bottom: 2px solid #a5bac7;
  margin-bottom: 25px;
  color: #547789;
  font-size: 12px;
  font-weight: bolder;
  text-transform: uppercase;
}

.overview h4::after {
  content: "\f061";
  float: right;
  color: #547789;
  font-family: "Font Awesome 5 Free";
  font-size: 18px;
  font-weight: 900;
  cursor: pointer;
} 

.overview a {
  padding: 20px 0 0;
  display: block;
  color: #565759;
  font-size: 15px;
  -webkit-transition: color .5s ease;
  -moz-transition: color .5s ease;
  -ms-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease;
}

.overview a:hover  { color: #2c2c2c;}

.overview a::before {
  content:"\f105";
  padding-right: 5px;
  color: #565759;
  font-family: "Font Awesome 5 Free";
  font-size: 10px;
  font-weight: 501;
  -webkit-transition: color .5s ease;
  -moz-transition: color .5s ease;
  -ms-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease;
}

.overview h5 {
  padding-top: 22px;
  color: #383d41;
  font-size: 16px;
  font-weight: bolder;
}

.overview h5 ~ p { padding-bottom: 19px; }

.video {
  width: 100%;
  padding-bottom: 35px;
  position: relative;
}

.video video { width: 100%; }

.video figure {
  width: 145px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50% ,-50%);
  -moz-transform: translate(-50% ,-50%);
  -ms-transform: translate(-50% ,-50%);
  -o-transform: translate(-50% ,-50%);
  transform: translate(-50% ,-50%);
}

.modal,
.modal-speaker {
  width: 70%;
  height: 100vh;
  padding: 8%  15%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .8);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.5s ease; 
  -o-transition: transform 0.5s ease; 
  transition: -webkit-transform 0.5s ease; 
  transition: transform 0.5s ease; 
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.modal-speaker {
  width: 20%;
  top: 50px;
  right: 10px;
  padding: 2% 5%;
  height: inherit;
  left: inherit;
  right: 20%;
  text-align: center;
}

.modal-speaker figure {
  width: 50%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 50% ;
  -webkit-border-radius: 50% ;
  -moz-border-radius: 50% ;
  -ms-border-radius: 50% ;
  -o-border-radius: 50% ;
}

.speakers .modal-speaker h5 {
  color: #fcfdff;
  width: 100%;
}

.speakers .modal-speaker p {
  color: #cdd5f9;
  padding-bottom: 20px;
}
.display { 
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); 
}

.speakersdisplay {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); 
}

.modal-content { width: 100%; }

.close {
  padding: 5px 10px;
  border-radius: 50%;
  position: absolute;
  top: 5%;
  right:5%;
  color: #fff;
  font-family: sans-serif;
  font-size: 30px;
  cursor: pointer;
  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease;
}

.close:hover { background-color: rgb(83, 83, 83); }


.speakers li {
  width: calc(21.3% - 4px);
  margin-right: 5%;
  display: inline-block;
  text-align: center;
  cursor: pointer;
}

.speakers li figure {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}

.speakers li:nth-child(4n+4) {
  margin: 0;
}

.speakers p {
  color: #59595b;
  line-height: 20px;
  font-size: 15px;
  text-transform: capitalize;
  padding-bottom: 10px;

}

.speakers h5 {
  padding: 25px 0 5px;
  width: 80%;
  margin: 0 auto;
  display: block;
  color: #383d40;
  font-size: 15px;
  font-weight: bolder;
  text-transform: capitalize;
}
/* main content styling starts */
/* content styling ends */






/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  